<article id="main"><header class="special container">
<h2>Job Submission Successful</h2>
<p>Please click on the links to view results.</p>
<p><a href="/return-file/" target="_blank">Plot 1</a></p>
<p><a href="/return-file-2/" target="_blank">Plot 2</a></p>
<p><a href="/return-file-3/" target="_blank">Scores Table</a></p>
<p><a href="/return-file-4/" target="_blank">Top Features</a></p>
<p>&nbsp;</p>
<p><strong>Plot 1</strong> show the first and second components for each variable. If you have two groups of samples, you might be able to see a separation here.</p>
<p><strong>Plot 2</strong> shows a relationship between the first and second components of the two canonical viariates. The closer to a straight line they are, the more highly those two variables are correlated.</p>
<p><strong>Scores Table</strong> displays all the numbers associated with those plots.</p>
<p><strong>Top Features</strong> lists the most correlated features for each variables.</p>
<p>&nbsp;</p>
</header></article>
